

.genlist{
    background-color: orange;
    margin-left: 10%;
    margin-right: 10%;
}


.list_headers{
    color: white;
    font-size: 50px;
}

.bullets{
    color: white
}

.programs{
    margin-left: 5%;
    margin-right: 5%;
}

.inlinelist{
    display: inline;
}